



<html>

<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="css/prompt_list.css">
  <title>Creative Prompt Generator</title>
</head>

<body>
  <div id="lined_paper">

    <h1>
    What would you like to draw?
  </h1>

    <ul id="drawingpage">
      <form method="post" action='/after'>
        <li>
          <input type="radio" name="squad_prompt" value="practice_exercises"> Practice Exercises</li>
        <br>
        <li>
          <input type="radio" name="squad_prompt" value="doodles"> Doodles</li>
        <br>
        <li>
          <input type="radio" name="squad_prompt" value="abstract"> Abstract</li>
        <br>
        <li>
          <input type="radio" name="squad_prompt" value="character_design">Characters
          <br>
        </li>


        <input type="submit">
      </form>
    </ul>

  </div>
</body>

</html>