<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/result.css">
    <title>Result Page</title>
  </head>
 <body>
   <div>
   <h1 class="kappa" id="kappa">Results</h1>
   </div>
   <div>
   <h2 class="results" id="result">
     
     <%= @myString %>
   </h2>
   </div>
   <div>
     <button id="home"><a href="/">Return Home</a></button>
       <img src = "http://previews.123rf.com/images/blue67/blue671109/blue67110900007/10598806-Great-Idea-Lettering-with-Lightbulb-Hand-Drawn-Back-to-School-Starbursts-and-Swirls-Sketchy-Notebook-Stock-Vector.jpg">
   
   
    
       </div>
 
   
 </body>
</html>