<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/result.css">
    <title>Result Page</title>
  </head>
 <body>
    <div id="margins">
   <h1 class="kappa" id="kappa">Results:</h1>
   </div>


   <div>
   <h2    id="result">
     <%= @myString %>  
   </h2>

   <div>
     <button id="home"><a href="/">Return Home</a></button>
   
       </div> 
 
   
 </body>
</html>